[submodule "larlite"]
	path = larlite
	url = https://github.com/NuTufts/larlite.git
[submodule "larcv"]
	path = larcv
	url = https://github.com/larbys/larcv
[submodule "lardly"]
	path = lardly
	url = https://github.com/larbys/lardly
