[submodule "larlite"]
	path = larlite
	url = https://github.com/NuTufts/larlite.git
[submodule "larcv"]
	path = larcv
	url = https://github.com/larbys/larcv
[submodule "lardly"]
	path = lardly
	url = https://github.com/larbys/lardly
[submodule "larflow"]
	path = larflow
	url = https://github.com/nutufts/larflow
[submodule "ublarcvapp"]
	path = ublarcvapp
	url = https://github.com/larbys/ublarcvapp
[submodule "laropencv"]
	path = laropencv
	url = https://github.com/nevisub/laropencv
